[push]
	default = simple
[user]
	name = Mike Williams
[core]
	editor = vim
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
    llg = log --oneline --numstat --decorate --graph
    lg = log --oneline --decorate --graph
[core]
	excludesfile = ~/.gitignore-global
[include]
    path = ~/.gitconfig-host
