[push]
	default = simple
[user]
	name = Mike Williams
[core]
	editor = vim
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	excludesfile = ~/.gitignore-global
[include]
    path = ~/.gitconfig-ff
