set editing-mode vi
set convert-meta on
set completion-ignore-case on
# Type a few characters before pressing up to search for commands that begin
# with that string: http://stackoverflow.com/questions/1030182/
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
"\e.":yank-last-arg
"\e_": yank-last-arg
